In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
path =r'C:\Users\aramaiah.ASUAD\Naresh_IT\MyDataScience\Data_Files\Visadataset.csv'
visa_df=pd.read_csv(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

In [2]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [3]:
visa_df.select_dtypes(exclude='object').columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

$prevailing_wage$

- in numerical analysis 
- mean median std count 25p 50p

In [4]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

$count$

In [5]:
len(visa_df['prevailing_wage'])

25480

In [6]:
visa_df['prevailing_wage'].count()

25480

$mean$

In [7]:
visa_df['prevailing_wage'].mean() #pandas

74455.81459209183

In [10]:
np.mean(visa_df['prevailing_wage'])

74455.81459209183

$median$

In [11]:
visa_df['prevailing_wage'].median() #pandas

70308.20999999999

In [12]:
np.median(visa_df['prevailing_wage'])

70308.20999999999

$max$

In [14]:
visa_df['prevailing_wage'].max() #pandas

319210.27

In [15]:
np.max(visa_df['prevailing_wage'])

319210.27

$min$

In [16]:
visa_df['prevailing_wage'].min() #pandas

2.1367

In [17]:
np.min(visa_df['prevailing_wage'])

2.1367

$standard deviation$

In [18]:
visa_df['prevailing_wage'].std()

52815.94232687357

In [19]:
np.std(visa_df['prevailing_wage'])

52814.90589711402

In [51]:

wage_count =round(visa_df['prevailing_wage'].count(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_std=round(visa_df['prevailing_wage'].std(),2)

l=[wage_count,wage_max,wage_min,wage_mean,wage_median,wage_std]
cols=['prevailing_wage']
index=['count','max','min','mean','median','std']
pd.DataFrame(l,columns=cols,index=index)

        prevailing_wage
count          25480.00
max           319210.27
min                2.14
mean           74455.81
median         70308.21
std            52815.94

$percentile$ - $quartile$

- percentile and quartile is available in numpy

- np.percentile()
    - column name
    - percentile value between 0 to 100
- np.quartile()
    - column name 
    - 0 to 1
- In quartile 0.25 means 25 in pecentile

**What is the mean of 25 pecentile = 34015.47**

## 25 percentile of total data has wage less than 34014.47 ##

In [33]:
wage_count/25

1019.2

In [35]:
# I need 2 percentage of total data 
25*25480/100

# 6370 person wage less than 34014

6370.0

** What is the mean of 25 percentile = 34015.47 **


    - 25 percentage of total data has wage less than 34014.47
    - Find 25 percentage of total data = 25 * 25480 /100
    - 6370 person wages has less than 34014

In [37]:
con=visa_df['prevailing_wage']<34014
len(visa_df[con])

6370

In [53]:
# can you valid quickly for 50p data 
wage_50=np.percentile(visa_df['prevailing_wage'],50)
con=visa_df['prevailing_wage']<wage_50
len(visa_df[con])

12740

In [58]:
wage_25=np.percentile(visa_df['prevailing_wage'],25)
wage_25

34015.479999999996

In [69]:
col=visa_df.select_dtypes(exclude='object').columns
d={}
for i in cols:
    count =round(visa_df[i].count(),2)
    maxx=round(visa_df[i].max(),2)
    minn=round(visa_df[i].min(),2)
    mean=round(visa_df[i].mean(),2)
    median=round(visa_df[i].median(),2)
    std=round(visa_df[i].std(),2)
    p_25=np.percentile(visa_df[i],25)
    p_50=np.percentile(visa_df[i],50)
    p_75=np.percentile(visa_df[i],75)
    d[i]=[count,maxx,minn,mean,median,std,p_25,p_50,p_75]


#     cols=[i]
index=['count','max','min','mean','median','std','25%','50%','75%']
pd.DataFrame(d,columns=cols,index=index)

        prevailing_wage
count        25480.0000
max         319210.2700
min              2.1400
mean         74455.8100
median       70308.2100
std          52815.9400
25%          34015.4800
50%          70308.2100
75%         107735.5125

In [60]:
visa_df.describe()
# 3 numerical ccolumns

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [62]:
m=np.percentile(visa_df['prevailing-wage'],25)
m

KeyError: 'prevailing-wage'

In [ ]:
con=visa_df['prevailing_wage']<