In [6]:
str1='hi how are you'
l1=str1.split()
l1

['hi', 'how', 'are', 'you']

In [7]:
#now we have list of elements are there we want to join 
l1

['hi', 'how', 'are', 'you']

In [8]:
'  '.join(l1)

'hi  how  are  you'

In [11]:
s='' 
for i in l1:
    s=s+i
s

'hihowareyou'

In [13]:
names=['Ramesh','Suresh','Rajesh','Sathish']
ages= [20,23,34,54]
print(f'{names[0]} age is {ages[0]}')
print(f'{names[1]} age is {ages[1]}')
print(f'{names[2]} age is {ages[2]}')
print(f'{names[3]} age is {ages[3]}')

Ramesh age is 20
Suresh age is 23
Rajesh age is 34
Sathish age is 54

In [18]:
for i,j in zip(names,ages):
    print(f'{i} age is {j}')

Ramesh age is 20
Suresh age is 23
Rajesh age is 34
Sathish age is 54

$zip$

In [ ]:
for i in names : i=Rames i=sure i = sath
for i in age :  i 25 30 
for i in zip(name, age)
  print(i)

In [14]:
def avg(n1,n2,n3):
    return(n1+n2+n3,(n1+n2+n3)/3)

output=avg(10,20,30)
output

(60, 20.0)

In [ ]:
names=['Ramesh','Suresh','Rajesh','Sathish']
ages= [20,23,34,54]
if both are together why two lists== dictionry

In [ ]:
{<key>:<value>}

In [23]:
d1={'Ramesh':20,
 'Suresh':23,
 'Rajesh':34,
 'Sathish':54 
}
# dictionary means key value pair together

In [24]:
type(d1)

dict

In [ ]:
how can we distinguish between
lists,
tuple,
set,
and
dictionary?

In [25]:
d2={'Ramesh':20,
 'Suresh':23,
 'Rajesh':34,
 'Sathish':54 }
d2

{'Ramesh': 20, 'Suresh': 23, 'Rajesh': 34, 'Sathish': 54}

In [27]:
d3={20:20}
d3

{20: 20}

In [28]:
d4={"$",30}
d4

{'$', 30}

In [29]:
d5={'names':['r','r','y']}
d5

{'names': ['r', 'r', 'y']}

In [30]:

d5={['r','r','y']:'names'}
d5

TypeError: unhashable type: 'list'

In [31]:
d6={'4':'7'}
d6

{'4': '7'}

In [ ]:
#speacial characters shuould not be a key
#dict and list cannot be represented as list

In [32]:
y1={'Ramesh': 20, 'Suresh': 23, 'Rajesh': 34, 'Sathish': 54}
max(y1)

'Suresh'

In [ ]:
#we dont see the value we see the key

In [34]:
y1={'Ramesh': 20,'Rameshh': 20}
max(y1)

'Rameshh'

- WATCH ONLY KEYS -

In [36]:
y1={'Ramesh': 20, 'Suresh': 23, 'Rajesh': 34, 'Sathish': 54}
min(y1)

'Rajesh'

In [37]:
y1={'Ramesh': 20, 'Suresh': 23, 'Rajesh': 34, 'Sathish': 54}
len(y1)

4

In [38]:
y1={'Ramesh': 20, 'Suresh': 23, 'Rajesh': 34, 'Sathish': 54}
sorted(y1)

['Rajesh', 'Ramesh', 'Sathish', 'Suresh']

In [39]:
y1={'Ramesh': 20, 'Suresh': 23, 'Rajesh': 34, 'Sathish': 54}
for i in reversed(y1):
    print(i)

Sathish
Rajesh
Suresh
Ramesh