In [1]:
list1=[1,2,3,['a','b','c']]
o1=list1[3]
o1[1]

'b'

In [2]:
list1[3][1]

'b'

In [3]:
list2=[['Apple','Banana']]
len(list2)

1

In [6]:
print(list2[0][0])
print(list2[0][1])

Apple
Banana

In [8]:
list3=['a','b',[1,20]]
list3[2][1]

20

In [13]:
list4=['hyd',['A','B',[1,20]]]
list4[1][2][1]

20

In [14]:
list6=[[['bus']]]
list6[0][0][0]

'bus'

In [18]:
list7=[[[[[[[['cherry',['Apple']]]]]]]]]
list7[0][0][0][0][0][0][0][1][0]

'Apple'

In [24]:
l1=['Hyd','Mumbai','Bhopal','Chennai']
#print the elements which are having len of charcaters >5
#idea:Iterate through list
#print each element 
#apply the condition 
#if the condition is staisfied then print the out put 

for i in l1:
#     print(i) --- here we are printing all the cities hence we will put condition to i itself
    if len(i)>5:
        print(i)

Mumbai
Bhopal
Chennai

In [25]:
l1=['Hyd','Mumbai','Bhopal','Chennai']
dir('de')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [28]:
#print upper cases
for i in l1:
    print(i.upper()) 
#     if len(i)>5:
#         print(i)

HYD
MUMBAI
BHOPAL
CHENNAI

In [29]:
#print lower cases
for i in l1:
    print(i.lower())

hyd
mumbai
bhopal
chennai

In [32]:
l1=['Hyd','Mum#bai','Bho#pal','Chennai']
#retrive the elements which are not having hash #
for i in l1:
    if '#'  not in i:
        print(i)

Hyd
Chennai

In [42]:
str1='Hello my name is Python'
#identify the max len word
#min len of word
#odea: apply split operation: lsit of words
#max min 
max(str1.split()),min(str1.split())

#this is waste its givening values based on ascii

('name', 'Hello')

In [43]:
l1=str1.split()
max(l1,key=len), min(l1,key=len)

('Python', 'my')

$iterable$
- if you are able to print char or elements using for loop
- list, string, tuple,dic

In [53]:
qns=['Who is the pm of India?',
    'What is the capital of india?',
    'No. of states in india?',
     'Who is the captain of ICT']
ans=['modi','delhi',29,'Rohit sharma']

#you need to iterate through qns list
#qn1='who is pm of india'
#ans=input('Enter your answer')

for i in qns:
#     qns.split()
    print(i.split())

['Who', 'is', 'the', 'pm', 'of', 'India?']
['What', 'is', 'the', 'capital', 'of', 'india?']
['No.', 'of', 'states', 'in', 'india?']
['Who', 'is', 'the', 'captain', 'of', 'ICT']