# Print Statement

In [2]:
num=10
print(num)

10

In [3]:
num1=10
print(num1)
num2=102
print(num2)

10
102

In [4]:
print("hai how.... ")

hai how....

- whatever we write in quotes and which willbe vsible in red will be printed as it  is

In [5]:
print(10,20,30)

10 20 30

In [7]:
n1 = 10
n2 = 20
print(n1,n2)
print(10,20)
print(n1,'and',n2)
print('10 and 20')
print(10,'and',20)
print('n1 and n2')# this is what we dont want

10 20
10 20
10 and 20
10 and 20
10 and 20
n1 and n2

In [10]:
a= 10
b=20
c=a+b
#addition of 10 and 20 is 30
print("the addition of", a,'and',b,'is',c)

the addition of 10 and 20 is 30

In [11]:
name = 'aishwarya'
city = 'Austin'
age = 25
print('My name is',name,'Im from',city,'and I am',age,'years old')

My name is aishwarya Im from Austin and I am 25 years old

$Method - 2$
** format

In [13]:
num1=10
num2=102
num3 = num1 + num2
print('the addition of {} and {} is {}'.format(num1,num2,num3))

the addition of 10 and 102 is 112

In [14]:
name = 'aishwarya'
city = 'Austin'
age = 25
print('My name is',name,'Im from',city,'and I am',age,'years old')
print('My name is {}, I am from {}, I am {} years old'.format(name,city,age))

My name is aishwarya Im from Austin and I am 25 years old
My name is aishwarya, I am from Austin, I am 25 years old

$Method-3$

**f-string method**

In [15]:
print(f'My name is {name}, I am from {city}, I am {age} years old')

My name is aishwarya, I am from Austin, I am 25 years old

In [ ]:
$End Operator$

In [16]:
print('hai')
print('hello')
#hai hello
print('hai',end='---->')
print('hello')

hai
hello
hai---->hello

In [18]:
print('1',end=' ')
print('2',end=' ')
print('3')
#1 2 3 
print('hai',end='---->')
print('hello')
#whatever is in red color inside the double quotes will be printed
print('1',end=' aishu ')
print('2',end=' aishu ')
print('3')

1 2 3
hai---->hello
1 aishu 2 aishu 3

In [19]:
print('Aishwarya',end=' is ')
print('Learning',end=' python ')
print('Henge!!!')

Aishwarya is Learning python Henge!!!

$Seperator$ -------> $sep$

In [21]:
print('aish',"and","apple")

aish and apple

In [23]:
print('aish','apple',sep=' and ')

aish and apple

In [24]:
print('1','2','3','4','5','6',sep='---> ')

1---> 2---> 3---> 4---> 5---> 6

In [ ]:
- format
- fstring
- end operator
- seperator