In [ ]:
#concatenation is not possible

$in$

In [ ]:
#keys are imp
d1={'Ramesh':20,"Suresh":25,"Sathish":30}
for i in d1:

$index$

In [3]:
d1={'Ramesh':20,"Suresh":25,"Satish":30}
#Normal Index will not work for dictionary
#d1[0]#error
#if you want to retirve the value, by using key we can get
# d1['Ramesh']
# d1['Suresh']
# d1['Sathish']
# d1[i]
for i in d1:
    print(i,d1[i])

Ramesh 20
Suresh 25
Satish 30

In [6]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(f"{i} age is {j}")

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [7]:
d1={'Ramesh':20,"Suresh":25,"Sathish":30}
for i in d1:
    print(f'{i} age is {d1[i]}')

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [ ]:
d1={'Ramesh':20,"Suresh":25,"Sathish":30}
for i in d1:
    print(i) #only keys

for i in d1:
    print(i,d1[i]) #keys and values

In [8]:
d1,l1,s1={},[],''
s1=s1+'a' # ''+a
s1=s1+'b'
s1=s1+'c'
s1

'abc'

In [13]:
l1=[]
l1.append(10)
l1.append(20)
l1

[10, 20]

In [15]:
d1={}
d1['even']=[20,30,40]
d1['odd']=[31,33]
d1

{'even': [20, 30, 40], 'odd': [31, 33]}

In [18]:
d1={}
name=input("enter the name: ")
city=input("enter the city: ")
age=eval(input("enter the age: "))
d1['NAME']=name
d1['CITY']=city
d1['AGE']=age
d1

enter the name: Aishwarya
enter the city: Bangalore
enter the age: 25

{'NAME': 'Aishwarya', 'CITY': 'Bangalore', 'AGE': 25}

In [21]:
#wap ask the user generate 10 random numbers
#find the even number and odd number
#output:
#{'Even':[20,30,40],'odd':[35,45]}
#s1: import random
#s2: even_list,odd_list=[][]
#s3: for loop 10 times
#s4:  num=generate random number 10,100
#s5:  if<consition>:
#s6:     append the values in eve
#s7:  else:
#s8:     append the values in odd list
#s9: create dictionary


import random
even_list,odd_list=[],[]
d1={}
for i in range(0,10):
    num=random.randint(1,100)
    if num%2==0:
        even_list.append(num)
    else:
        odd_list.append(num)
        
d1['EVEN']=even_list
d1['ODD']=odd_list
d1

{'EVEN': [34, 68, 16], 'ODD': [47, 65, 49, 29, 53, 11, 71]}

In [35]:
#word frequnecy
d1={}
s1='hello how how are you, hello how im good, hello how what are you doing'
#{'hello':3,'how':4,.......}
l1=s1.split( )
l2=[]
for i in l1:
    if i not in l2:
        
        print(i,l1.count(i))
        l2.append(i)

hello 3
how 4
are 2
you, 1
im 1
good, 1
what 1
you 1
doing 1

In [37]:
#word frequnecy
d1={}
s1='hello how how are you, hello how im good, hello how what are you doing'
#{'hello':3,'how':4,.......}
l1=s1.split( )
l2=[]
for i in l1:
    if i not in l2:
        
        d1[i]=l1.count(i) #key =i  value is l1.count[i]
        l2.append(i)
d1
#to make this dictionary

{'hello': 3,
 'how': 4,
 'are': 2,
 'you,': 1,
 'im': 1,
 'good,': 1,
 'what': 1,
 'you': 1,
 'doing': 1}

In [39]:
d1={}
d1['hello']=3
d1[i]=l1.count(i)
d1

{'hello': 3, 'doing': 1}

In [42]:
d1={'Fruits':['Apple','Banana']}
#Retrive Banana
d1['Fruits'][1]

'Banana'

In [45]:
d1={'Fruits':[{'Apple':50},{'Banana':20}]}
d1['Fruits'][1]['Banana']

20

In [49]:
d1={'Fruits':[{'Apple':[50,150,300]},{'Banana':20}]}
d1['Fruits'][0]['Apple'][2]

300

In [60]:
d1={'Fruits':
    [{'Apple':[{50:'Noraml',150:'Average',300:'Good'}]},
    {'Banana':20}]}
    
d1['Fruits'][0]['Apple'][0][300]

'Good'

$Methods$

In [62]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

$key$-$value$-$item$

In [63]:
d1={'Ramesh':20,'Suresh':25,'Piyush':27}
d1

{'Ramesh': 20, 'Suresh': 25, 'Piyush': 27}

In [64]:
d1.keys()

dict_keys(['Ramesh', 'Suresh', 'Piyush'])

In [65]:
d1.values()

dict_values([20, 25, 27])

In [66]:
d1.items()

dict_items([('Ramesh', 20), ('Suresh', 25), ('Piyush', 27)])

In [68]:
d1.keys() #its very important to check the type of output
type(d1.keys())#dict_keys
#so convert dict_keys type to list type

dict_keys

In [70]:
list(d1.keys())[0].lower()

'ramesh'

In [ ]:
#whatever is in teh dict type we need to convert it int list

In [72]:
# 'clear',
#  'copy'
# 'get'
# 'pop'
# 'popitem',

d1.clear()
d1

{}

In [76]:
d1={'Ramesh':20,'Suresh':25,'Piyush':27}
d2=d1.copy()
d1.clear()
d2

{'Ramesh': 20, 'Suresh': 25, 'Piyush': 27}

In [81]:
d1={'Ramesh':20,'Suresh':25,'Piyush':27}
l1=list(d1)
l2=l1.pop()
print(l2)
print(l1)

Piyush
['Ramesh', 'Suresh']

In [84]:
d1={'Ramesh':20,'Suresh':25,'Piyush':27}
d1=popitem('Ramesh')
d1

# l1=list(d1)
# l2=l1.popitem()
# print(l2)
# print(l1)

NameError: name 'popitem' is not defined